pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set  mount folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/kentucky.abeki@outlook.com/ADFTutorial",
					"baseParameters": {
						"input": {
							"value": "@variables('kenVar')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LinkedService",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set  mount folder",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "kenVar",
					"value": "Kobonisuo Abeki"
				}
			}
		],
		"parameters": {
			"param1": {
				"type": "string",
				"defaultValue": "test"
			}
		},
		"variables": {
			"kenVar": {
				"type": "String",
				"defaultValue": "testing"
			}
		},
		"annotations": []
	}
}